body {
    display: flex;
    padding: 0;
    --accent-font: "Bilbo", cursive;
    --reg-font: "Montserrat", sans-serif;
    --red-color: #9f0311;
    --grey-color: #e9eaea;
    font-family: var(--reg-font);
    flex-direction: column;
    margin: 0 auto;
    background-color: var(--grey-color);
}

html {
    scroll-behavior: smooth;
    width: 100%;
}

.phone-icon {
    margin: auto;
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    margin-right: 0.5rem;
    cursor: pointer;
}

.ig-icon {
    background-image: url(./svg-icons/ig-color.svg);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 0.5rem;
    cursor: pointer;
}

.phone-icon:hover path {
    fill: var(--red-color);
}

.header {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
}

.header-contact-form {
    margin-left: 20px;
    display: flex;
    align-content: flex-end;
    align-items: flex-end;
}

.cake-bakery {
    margin-top: 20px;
    margin-bottom: 0;
    font-family: var(--accent-font);
    color: var(--red-color);
}

.phone-number {
    font-weight: 600;
}

.menu-items {
    font-family: var(--reg-font);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    cursor: pointer;
    /* flex: 2; */
}

.menu-items > a {
    margin: 20px;
    text-decoration: none;
    list-style-type: none;
    color: black;
}

.menu-items > a:hover {
    box-shadow: 0px 1px var(--red-color);
}

.main-page {
    background-image: url(../src/img/strawberry.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    width: 100%;
    height: 800px;
    height: 95vh;
}

.main-container {
    padding: 60px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.main-page-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: var(--accent-font);
    font-size: 4rem;
    letter-spacing: 0.4rem;
}

.button {
    outline: none;
    cursor: pointer;
    text-decoration: none;
}

.button:hover {
    background-color: var(--red-color);
    color: var(--grey-color);
}

.button-inverse {
    outline: none;

    padding: 10px 40px;
    margin: 0 auto;
    background-color: var(--red-color);
    color: var(--grey-color);
    border: 1px solid var(--grey-color);
}

.button-inverse:hover {
    background-color: var(--grey-color);
    border: 1px solid var(--red-color);
    color: var(--red-color);
}

.button-red {
    outline: none;

    padding: 10px 70px;
    margin-top: 20px;
    border: 1px solid var(--red-color);
    background-color: var(--red-color);
    color: var(--grey-color);
}

.button-red:hover {
    border: 1px solid var(--red-color);
    color: var(--red-color);
    background-color: var(--grey-color);
}

.catalog-page {
    margin: 0 auto;
    max-width: 100vw;
}

.catalog-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 20px;
}

.intro-text {
    margin: 20px auto;
    font-family: var(--accent-font);
    font-size: 2rem;
    letter-spacing: 0.2rem;
    cursor: pointer;
    transition: 0.3sec;
}

.intro-text:hover {
    color: var(--red-color);
}

.catalog-menu {
    /* margin-bottom: 30px; */
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding-inline-start: 0px;
}

.catalog-menu > li {
    cursor: pointer;
    margin: 0 20px;
}

.catalog-menu > li:hover {
    box-shadow: 0px 1px var(--red-color);
}

.catalog-preview {
    display: grid;
    grid-template-columns: repeat(4, minmax(220px, 1fr));
    grid-template-rows: repeat(2, minmax(220px, 1fr));
    grid-gap: 1em;
    margin-bottom: 20px;
}

.catalog-image {
    background-image: url(../src/img/strawberry.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    border: 1px solid black;
}

.catalog-image:hover {
    -webkit-animation: flash 1.5s;
    animation: flash 2s;
}

@-webkit-keyframes flash {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
@keyframes flash {
    0% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}

.grid-row {
    grid-column: 1/2;
    grid-row: 1/3;
}

.description {
    background-color: var(--red-color);
    text-align: center;
    color: var(--grey-color);
}

.description p:first-child {
    font-family: var(--accent-font);
    font-size: 2rem;
    letter-spacing: 0.2rem;
}

.description > p {
    line-height: 2rem;
}

.description > ul {
    padding: 0px;
    margin-top: 40px;
}

.description > ul > li {
    list-style-type: none;
    list-style: none;
    padding-bottom: 0.6rem;
}

.catalog-p-number {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
}

.current-page {
    color: var(--red-color);
    font-size: 1.6rem;
}
/* Small arrow */
.arrow-small {
    width: 20px;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.3sec;
}
.arrow-small path {
    fill: var(--red-color);
}

.arrow-small:hover {
    transform: scale(1.2);
}

/* Big arrow */
.arrow {
    width: 60px;
    margin: 0 10px;
    cursor: pointer;
    transition: 0.3sec;
}

.arrow path {
    fill: var(--red-color);
}

.arrow:hover {
    transform: scale(1.2);
}

.icon-quotes {
    width: 40px;
    margin: 0 10px;
}

.icon-quotes path {
    fill: var(--red-color);
}

.about-page {
    margin: 40px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 925px;
}

.p-text {
    width: 50%;
    text-align: center;
    letter-spacing: 0.05rem;
    line-height: 2rem;
    font-size: 1.2rem;
}

.line-shadow-top {
    padding: 20px;
    border-top: 1px solid var(--red-color);
}

.line-shadow {
    box-shadow: 0px 1px var(--red-color);
}

/* Specila offer */
.special-offer-page {
    margin: 40px auto;
    max-width: 925px;
    display: grid;
    grid-template-columns: repeat(3, minmax(298px, 1fr));
    grid-template-rows: minmax(350px, 1fr);
    grid-gap: 1em;
}

.special-offer-text {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    background-color: var(--red-color);
}

/* Review Swiper */

.speacial-offer-image {
    background-image: url(../src/img/special-offer.jpg);
    background-size: cover;
    background-position: 40% 60%;
    grid-column: 2/4;
}

.swiper-container {
    margin: 40px auto;
    width: 725px;
    height: 350px;
}

#button-reviews {
    color: var(--red-color);
    outline: none;
}

.center-item {
    display: flex;
    justify-content: center;
}

.review-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 66%;
    height: 100%;
}

.review-container > p {
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
    line-height: 2rem;
}

.person-name {
    font-size: 2rem;
    color: var(--red-color);
    font-family: var(--accent-font);
}

.cake-icon {
    width: 40px;
    fill: var(--red-color);
}

.contact-page {
    margin: 40px auto;
    max-width: 925px;
    display: flex;
    width: 100%;
    height: 100%;
}

.contact-background {
    background-color: var(--grey-color);
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background-image: url(../src/img/contact-us2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 380px;
    background-color: var(--red-color);
    width: 35%;
    margin-right: 40px;
    margin-top: 60px;
    margin-bottom: 60px;
    color: var(--grey-color);
}
.contact-info > div {
    display: flex;
    align-items: baseline;
    margin-left: 40px;
}
.contact-info > div > p {
    margin-left: 40px;
    line-height: 2rem;
}

.contact-info > p:first-child {
    text-align: center;
    font-family: var(--accent-font);
    font-size: 2rem;
    letter-spacing: 0.2rem;
}

.application-page {
    margin: 20px auto;
    padding-bottom: 40px;
    max-width: 725px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-input {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
}

.application-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    transition: 0.3sec;
}

.application-form > input:last-child {
    margin: 10px auto;
}

.wrong-email {
    display: none;
    justify-content: center;
    margin-bottom: 20px;
    color: var(--red-color);
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px var(--grey-color) inset;
}

.input {
    background-color: var(--grey-color);
    width: 100%;
    margin: 10px 20px;
    padding-bottom: 10px;
    border: none;
    border-bottom: 1px solid var(--red-color);
    outline: none;
}

/* Footer */
.footer {
    margin: 0 auto;
    width: 100%;
    max-width: 925px;
    padding: 0 30px;
    background-color: var(--red-color);
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: baseline;
}

.white {
    color: var(--grey-color);
}

.white > a {
    color: var(--grey-color);
}

.footer-icons {
    cursor: pointer;
    margin: auto;
    margin-left: 20px;
    fill: var(--grey-color);
    width: 20px;
    height: 20px;
}

@media (max-width: 992px) {
    .header {
        margin: 0;
    }

    .header-contact-form {
        display: none;
    }

    .catalog-preview {
        display: grid;
        grid-template-columns: repeat(3, minmax(180px, 1fr));
        grid-template-rows: repeat(3, minmax(180px, 1fr));
    }

    .description > ul {
        padding-bottom: 30px;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .swiper-container {
        width: 100%;
    }

    .grid-row {
        grid-row: 1/4;
    }

    .special-offer-page {
        grid-template-columns: repeat(3, minmax(180px, 1fr));
    }

    .footer {
        width: 75%;
        justify-content: center;
        align-items: baseline;
        align-content: center;
        flex-wrap: wrap;
    }
    .menu-items {
        padding: 0;
    }
    .menu-items > a {
        margin: 10px;
    }
    .footer-icons {
        width: 20px;
        margin: 10px auto;
    }
    .contact-info {
        width: 45%;
    }
}

@media (max-width: 578px) {
    .header{
        display: flex;
        justify-content: space-between;
        padding: 10px;
        align-items: center;
        align-content: center;
        padding: 10px 40px;
    }

    .main-page {
        background-position: bottom;
    }

    .menu-items {
        display: none;
    }

    .catalog-preview {
        display: grid;
        grid-template-columns: repeat(2, minmax(150px, 1fr));
        grid-template-rows: repeat(3, minmax(150px, 1fr));
    }
    .grid-row {
        display: none;
    }

    .p-text {
        width: 80%;
    }

    .swiper-container {
        width: 100%;
        height: 450px;
    }

    .center-item {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .special-offer-page {
        grid-template-columns: repeat(1, minmax(298px, 1fr));
        grid-template-rows: repeat(2, minmax(350px, 1fr));
    }
    .speacial-offer-image {
        grid-column: 1/2;
        grid-rows: 2/3;
    }

    .application-page {
    }

    .form-input {
        width: 90%;
        margin: 0;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
    }

    .input {
        box-sizing: border-box;
        margin-bottom: 30px;
    }

    .footer {
        width: 80%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .footer-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .footer-icons {
        margin: 0em;
        margin-bottom: 20px;
        width: 25px;
    }
    .contact-background {
        width: 100%;
    }
    .contact-info {
        width: 90%;
        margin:40px auto;
    }

}
