body {
    display: flex;
    margin: 0;
    padding: 0;
    --accent-font: "Bilbo", cursive;
    --reg-font: "Molengo", sans-serif;
    --red-color: #9f0311;
    --grey-color: #e9eaea;
    font-family: var(--reg-font);
    flex-direction: column;
    margin: 0 auto;
}

.header {
    margin: 0 auto;
    /* width: 70%; */
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
}

.cake-bakery {
    font-family: var(--accent-font);
    color: var(--red-color);
}

.phone-number {
    font-weight: 600;
}

.menu-items {
    font-family: var(--reg-font);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    cursor: pointer;
    list-style-type: none;
    flex: 2;
}

.menu-items > li {
    margin: 20px;
}

.menu-items > li:hover {
    box-shadow: 0px 1px var(--red-color);
}

.main-page {
    background-color: var(--grey-color);
    height: 700px;
}

.main-container {
    padding: 60px 0px;
    letter-spacing: 0.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.main-page-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--accent-font);
    font-size: 4rem;
}

.button {
    background-color: Transparent;
    cursor: pointer;
    margin-top: 20px;
    padding: 10px 40px;
    border: 1px solid var(--red-color);
    color: var(--red-color);
}

.button:hover {
    background-color: var(--red-color);
    color: #ffffff;
}

.button-inverse {
    color: #ffffff;
    border: 1px solid #ffffff;
}

.button-inverse:hover {
    background-color: #ffffff;
    color: var(--red-color);
}

.catalog-page {
    margin: 0 auto;
}

.catalog-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 20px;
}

.intro-text {
    /* margin: 20px auto; */
    font-family: var(--accent-font);
    font-size: 2rem;
    letter-spacing: 0.2rem;
}

.catalog-menu {
    /* margin-bottom: 30px; */
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding-inline-start: 0px;
}

.catalog-menu > li {
    margin: 0 20px;
}
.catalog-menu > li:hover {
    box-shadow: 0px 1px var(--red-color);
}

.catalog-preview {
    display: grid;
    grid-template-columns: repeat(4, minmax(220px, 1fr));
    grid-template-rows: repeat(2, minmax(220px, 1fr));
    grid-gap: 1em;
    margin-bottom: 20px;
}

.image {
    border: 1px solid black;
}

.description {
    background-color: var(--red-color);
    grid-column: 1/2;
    grid-row: 1/3;
    border: 1px solid black;
    text-align: center;
    word-wrap: break-word;
    color: white;
}

.description p:first-child {
    font-family: var(--accent-font);
    font-size: 2rem;
    letter-spacing: 0.2rem;
}

.description > p {
    overflow-wrap: break-word;
}
.description > ul {
    padding: 0px;
    margin-top: 40px;
}
.description > ul > li {
    list-style-type: none;
    list-style: none;
    padding-bottom: 0.6rem;
}
.catalog-p-number {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
}

.current-page {
    color: var(--red-color);
    font-size: 1.6rem;
}

.arrow {
    color: var(--red-color);
    margin: 0 10px;
    cursor: pointer;
}

.arrow:hover {
    color: black;
}

.about-page {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 20px;
    max-width: 925px;
}

.p-text {
    width: 50%;
    text-align: center;
    letter-spacing: .05rem;
    line-height: 2rem;
    font-size: 1.2rem;
}

.line-shadow-top {
    padding: 20px;
    box-shadow: 0px -1px var(--red-color);
}

.line-shadow {
    box-shadow: 0px 1px var(--red-color);
}

/* Specila offer */
.special-offer-page {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, minmax(298px, 1fr));
    grid-template-rows: minmax(298px, 1fr);
    grid-gap: 1em;
    margin-bottom: 20px;
}

.special-offer-text {
    background-color: var(--red-color);
}

.speacial-offer-image {
    border: 1px solid black;
    background-color: var(--grey-color);
    grid-column: 2/4;
}

.review-page {
    max-width: 925px;
    display: flex;
    align-items: center;
    align-content: space-around;
    margin: 40px auto;
}
.review-carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

